:root {
  --main-dark-color: #5D5F61; /* Main Dark color */
  --second-dark-color: #5D5A59; /* Secondary Dark color */
  --main-light-color: #ADADAD; /* Main Light color */
  --second-light-color: #BFBFBF; /* Secondary Light color */
  --lightest-color: #E7E7E7; /* Very Light color */
}

html * {
  box-sizing: border-box;
}

figure {
  width:80vw;
  border-radius: 0.5em;
  border : 2px solid var(--main-light-color);
  max-height:30.875rem;
  margin: 0 auto;
  padding:1em;
}

.controls {
   width:80vw;
   margin: 0 auto;
   position:relative;
   background-color: var(--main-light-color);
   border : 2px solid var(--main-light-color);
   overflow: hidden;
   border-radius: 0.5em;
   padding : 1em 1em 0;
}

.controls[data-state=hidden] {
   display:none;
}

.controls[data-state=visible] {
   display:block;
}

.main-button-block,
.secondary-buton-block {
  display: flex;
}

.main-button-block {
  justify-content: center;
  margin : 2em auto;
}


.secondary-buton-block {
  justify-content: space-between;
  margin : 0.25em auto;
}


.controls > * {

}

.controls > *:first-child {
/*   margin-left:0; */
}

/*### progress bar ###*/

.controls .progress {
  cursor:pointer;
  display:block;
  height:2em;
  margin : 0.125rem 0 1em;
  border:none;
  background: var(--lightest-color);
  color: var(--second-dark-color);
}

  .controls progress[data-state="fake"] {
   background:red;
   height:65%;
}

.controls progress {
  height: 2em;
  width: 100%;
  border-radius: 0;
}

.controls progress span {
   width:0%;
   height:5em;
   display:inline-block;
   background-color:var(--second-dark-color);
}

.controls progress::-moz-progress-bar {
   background-color: var(--second-dark-color);
}


.controls progress::-webkit-progress-value {
   background-color:var(--second-dark-color);
}

.main-button-block button {
  border: 0.25em solid var(--main-dark-color);
}

#playpause {
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background: var(--lightest-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#stop {
  background: var(--lightest-color);
  width: 10vw;
  height: 10vw;
  border-radius: 2em;
}

.controls button:hover {
   opacity:0.5;
}

.controls button:focus {
    outline: none;
    opacity: 1;
}

#playpause::before {
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-top: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid var(--main-dark-color);
}

#playpause[data-state=pause]::before {
  display: block;
  content: " ";
  width: 0.125vw;
  height: 1.75vw;
  border-top: none;
  border-bottom: none;
  border-left: 0.5vw solid var(--main-dark-color);
  border-right: 0.5vw solid var(--main-dark-color);
}

#playpause[data-state=pause] {
  background: var(--second-light-color);
}

/*---## MUTE BUTTON ##---*/

#mute {
  border: 0.25vw solid var(--main-dark-color);
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
}

#mute[data-state=mute] {
  background: var(--main-light-color);
  content: "Mute";
}

#mute[data-state=mute]::before {
  content: "Mute";
}


#mute[data-state=unmute] {
  background: var(--second-light-color);
  content: "Un-mute";
}


#mute[data-state=unmute]::before {
  content: "Un-mute";
}


/*---## VOLUME ##---*/

.volume-buton-block {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
}

.volume-buton-block > * {
  margin: 0.25vw;
}

#volinc::before,
#voldec::after
 {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
}

#volinc::before {
  border-bottom: 1vw solid black;
}

#voldec::after {
  border-top: 1vw solid black;
}


footer {
  min-height: 15vh;
  position: absolute;
 bottom: 0;
}
